@import "../../../scss/index.scss";

.grid-card {
  height: 100%;
  @include flex();
  .grid-content{
    background: #fff;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .grid-img{
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 1s;
    cursor: pointer;
  }
  .grid-img:hover{
    transform: scale(1.2);
  }
  button{
    width: 100%;
    line-height: 30px;
    border-radius: 8px;
    background: transparent;
    border: none;
    color: #e1e1e1;
    margin: 10px 0;
  }
}
