@import "../index.scss";

.home{
  background: $main_bgColor;
  padding: 10px 90px;
  width: 100%;
  min-height: 750px;
  > div{
    min-width: 1152px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 28px;
    display: flex;
    box-shadow: 0 12px 24px 0 rgba(7,17,27,.2);
  }

  .banner-box{
    height: 496px;
    background-color: #fff;
    .banner-card{
      width: 56%;
      background: $main_bgColor;
    }
    .banner-insert{
      width: 44%;
    }
  }
}
