@import "../../../scss/index.scss";

.carousel-card {
  .carousel-img {
    background-size: cover;
    height: 100%;
    position: relative;
    background-position: center center;
  }

  /* 轮播图 */
  .el-carousel {
    height: 100%;
    &__container {
      height: 100%;
      min-height: 200px;
    }
    &__indicators {
      left: 30px;
      bottom: 35px;
      transform: translateX(0);
      display: flex;
      align-items: center;
    }
    &__indicator {
      padding: 0 4px;
    }
    &__button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    &__indicator.is-active button {
      background: url("../../../images/icons/dian.png") no-repeat transparent;
      width: 20px;
      height: 20px;
      background-size: 20px;
    }
  }
  .read-more{
    transition: all .5s;
    opacity: .5;
  }
}

