.pagination-card{
  display: flex;
  height: 248px;
  .cover{
    width: 15px;
    height: 100%;
  }
  .cover-item{
    height: 44%;
    background: #fff;
    display: block;
  }
  .triangle_border{
    width: 0;
    height: 10%;
    border-style: solid;
  }

  .insert-img{
    height: 100%;
    background-size: cover;
    position: relative;
  }

  .text-content{
    width: 50%;
    height: 100%;
  }
  .img-box{
    width: 50%;
    height: 100%;
  }
}
.left {
  .cover{
    float: left;
  }
  .triangle_border{
    width: 0;
    height: 0;
    display: block;
    border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;
    border-right: 15px solid transparent;
    border-left: 0;
  }
  .insert-img{
    margin-left: -15px;
  }
}
.right {
  .cover{
    float: right;
  }
  .triangle_border{
    width: 0;
    height: 0;
    display: block;
    border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 0;
  }
  .insert-img{
    margin-right: -15px;
  }
}
.read-more {
  transition: none;
  opacity: 1;
}
