@import "../../../scss/index.scss";

.list-card {
  .list>:last-child {
    .text-content{
      border: none;
    }
  }
  .list-card-footer{
    text-align: center;
    background: #fff;
    button{
      width: 25%;
      line-height: 30px;
      border-radius: 15px;
      background: transparent;
      border: none;
      color: #e1e1e1;
      margin: 20px 0 40px;
    }
  }
}
