@import "./mixin.scss";

@font-face {
  font-family: "GKAI00MP";
  src: url("//p85h88h3q.bkt.clouddn.com/GKAI00MP.woff2") format("woff2"),
  url("//p85h88h3q.bkt.clouddn.com/GKAI00MP.woff") format("woff"),
  url("//p85h88h3q.bkt.clouddn.com/GKAI00MP.ttf") format("truetype"),
  url("//p85h88h3q.bkt.clouddn.com/GKAI00MP.eot") format("embedded-opentype"),
  url("//p85h88h3q.bkt.clouddn.com/GKAI00MP.svg") format("svg");
}

@font-face {
  font-family: 'ArialBlack';
  font-weight: normal;
  font-style: normal;
  src: url('https://res.suv666.com/carhouse/tuner/ab.woff'),
  url('https://res.suv666.com/carhouse/tuner/ab.eot#iefix') format('embedded-opentype'),
  url('https://res.suv666.com/carhouse/tuner/ab.woff') format('woff'),
  url('https://res.suv666.com/carhouse/tuner/ab.TTF') format('truetype'),
  url('https://res.suv666.com/carhouse/tuner/ab.svg') format('svg');
}

@font-face {
  font-family: Gobold;
  src: url("https://img.suv666.com/ui/ycyh/3_0/wxapp/Gobold%20Bold.ttf");
}

#app {
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  font-family: ArialBlack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/* border 圆角 */
$borderRadius: 8px;      // border 圆角
$border-sile: (tl:top-left, tr:top-right, bl:bottom-left, br:bottom-right);
@each $key,$value in $border-sile{
  .border-radius-#{$key} {
    border-#{$value}-radius: $borderRadius;
  }
}

/* read-more 按钮 */
.read-more{
  font-size: 12px;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s;
  opacity: .5;
  width: 120px;
}
.read-more:hover{
  opacity: 1;
}
.read-more_text{
  color: #36b1ff;
  font-size: 12px;
  cursor: pointer;
}
.read-more_text:hover{
  text-decoration: underline;
}

/* 文字内容 */
.text-content{
  height: 60%;
  padding: 5%;
  @include flex();
  justify-content: space-around;
  .time{
    flex: 1;
    font-size: 12px;
    color: #ccc;
  }
  section{
    flex: 1;
    &>:nth-child(n){
      margin-bottom: 10px;
    }
    .title{
      font-size: 20px;
      font-weight: bold;
    }
    .desc{
      font-size: 14px;
      color: #606266;
      line-height: 1.5;
    }
  }
}

/* 省略号 */
@for $i from 1 through 3 {
  .ellipsis_#{$i} {
    @include ellipsis($i);
  }
}

/* position 居中 */
.position-mid{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.position-relative{
  position: relative;
}

.flex-column{
  @include flex()
}
.flex-row{
  @include flex('row')
}

