@import "./mixin.scss";

@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/webfont_xc5fsw8i9gh.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_xc5fsw8i9gh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_xc5fsw8i9gh.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_xc5fsw8i9gh.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_xc5fsw8i9gh.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}

#app {
  font-family: webfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/* border 圆角 */
$borderRadius: 8px;      // border 圆角
$border-sile: (tl:top-left, tr:top-right, bl:bottom-left, br:bottom-right);
@each $key,$value in $border-sile{
  .border-radius-#{$key} {
    border-#{$value}-radius: $borderRadius;
  }
}

/* read-more 按钮 */
.read-more{
  font-size: 12px;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
}
.read-more:hover{
  opacity: 1;
}
.read-more_text{
  color: #36b1ff;
  font-size: 12px;
  cursor: pointer;
}
.read-more_text:hover{
  text-decoration: underline;
}

/* 文字内容 */
.text-content{
  height: 60%;
  padding: 5%;
  @include flex();
  justify-content: space-around;
  .time{
    flex: 1;
    font-size: 12px;
    color: #ccc;
  }
  section{
    flex: 1;
    &>:nth-child(n){
      margin-bottom: 10px;
    }
    .title{
      font-size: 20px;
      font-weight: bold;
    }
    .desc{
      font-size: 14px;
      color: #606266;
      line-height: 1.5;
    }
  }
}

/* 省略号 */
@for $i from 1 through 3 {
  .ellipsis_#{$i} {
    @include ellipsis($i);
  }
}

/* position 居中 */
.position-mid{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flex-row-mid{
  @include flex('row');
  align-items: center;
}

.position-relative{
  position: relative;
}

.flex-column{
  @include flex()
}
.flex-row{
  @include flex(row)
}
.flex-column-center{
  @include flex();
  align-items: center;
  justify-content: center;
}
.flex-row-center{
  @include flex(row);
  align-items: center;
  justify-content: center;
}

.card-header{
  line-height: 55px;
  text-indent: 22px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 5px;
  background: #CBD3E0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

button{
  cursor: pointer;
}
button:hover{
  border-color: #3a8ee6;
}

