/* 省略号 */
@mixin ellipsis($line){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex($sile: column){
  display: flex;
  flex-direction: $sile;
}

